<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\log\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
  <variable name="ConnectionString" value="" />

  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" encoding="utf-8" name="LogFile" fileName="c:\log\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
    <target xsi:type="ColoredConsole" name="ColorConsole" encoding="utf-8" layout="${DefaultLayout}" />
    <target xsi:type="Database" keepConnection="true" dbProvider="System.Data.SqlClient" name="database" dbHost="." connectionString="Server=DESKTOP-G796G32\SQLEXPRESS;Database=AxDb2;User Id=sa;Password=Admin123.;MultipleActiveResultSets=true"
            commandText="INSERT INTO [dbo].[Logs] (
    [Logged],
    [Level],
    [UserName],
    [Message],
    [Logger],
    [ServerName],
    [Url],
    [ServerAddress],
    [CallSite],
    [Exception],
    [CreatorUserId],
    [InsertDateTime],
    [Ip],
    [UserAgent],
    [Type]
  ) VALUES (
    @logged,
    @level,
    @userName,
    @message,
    @logger,
    @serverName,
    @url,
    @serverAddress,
    @callSite,
    @exception,
    1,
    @logged,
    @ip,
    @ua,
    @Type
  );">
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@username" layout="${aspnet-user-identity} " />
      <parameter name="@serverName" layout=" ${machinename}" />
      <parameter name="@url" layout=" ${aspnet-request-url}" />
      <parameter name="@serverAddress" layout=" ${aspnet-request-host}" />
      <parameter name="@ip" layout="${aspnet-request-ip}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@Type" layout="${event-properties:item=LogType} " />
      <parameter name="@ua" layout="${aspnet-request-useragent} " />
      <parameter name="@callSite" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true:cleanNamesOfAnonymousDelegates=true} Line:${callsite-linenumber} " />
      <parameter name="@exception" layout="${exception:format=toString}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColorConsole" />
    <logger name="*" levels="Debug,Error,Fatal,Warn" writeTo="Database" />
    <logger name="*" levels="Error,Fatal" writeTo="LogFile" />
  </rules>
</nlog>