<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="d:\log\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" encoding="utf-8" name="LogFile" fileName="d:\log\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />
    <target xsi:type="ColoredConsole" name="ColorConsole" encoding="utf-8" layout="${DefaultLayout}" />
    <target xsi:type="Database" keepConnection="true" dbProvider="System.Data.SqlClient" name="database" dbHost="." connectionString="${configsetting:name=ConnectionStrings.SqlServer}"
            commandText="INSERT INTO [dbo].[Logs] (
    [Logged],
    [Level],
    [UserName],
    [Message],
    [Logger],
    [ServerName],
    [Port],
    [Url],
    [ServerAddress],
    [RemoteAddress],
    [CallSite],
    [Exception],
    [CreatorUserId],
    [InsertDateTime]
  ) VALUES (
    @logged,
    @level,
    @userName,
    @message,
    @logger,
    @serverName,
    @port,
    @url,
    @serverAddress,
    @remoteAddress,
    @callSite,
    @exception,
    @userName,
    @logged
  );">
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@username" layout="${aspnet-user-identity}" />
      <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
      <parameter name="@serverAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@remoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true:cleanNamesOfAnonymousDelegates=true}" />
      <parameter name="@exception" layout="${exception:format=toString}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="ColorConsole" />
    <logger name="*" levels="Debug,Error,Fatal,Warn" writeTo="Database" />
    <logger name="*" levels="Error,Fatal" writeTo="LogFile" />
  </rules>
</nlog>